.grid_planes 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);  
    gap: 20px;                              
    justify-items: center;                 
    padding: 20px 10px;
}
.icono-planes    
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icono-circular-planes
{
    width: 450px;
    height: 300px;
    border-radius: 15%;
    object-fit: cover;
    background-color: #ecf0f1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.5   s ease;
}
.icono-circular-planes:hover 
{
    transform: scale(1.3);
}
.titulo-icono-planes
{
    margin-bottom: 100px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary);
}
.planes 
{
    height: 25vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 40px;
}
.planes_texto 
{
    max-width: 1000px;
    padding: 0 20px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    color: var(--secundary);
    
}
.tx1_planes
{
    color: #000000;
}
.hr_2
{
    height: 5px;
    margin-left: 20%; 
    margin-right: 20%;
    margin-top: 4%;
    background-color: #eb5a00; 
    border: none;
}
.tx2_planes
{
    color: #000000;
    font-size: 1.5rem;
    font-style:oblique;
}

/*RESPONSIVE*/

