/* Header */
header 
{
    background-color: white;
    box-shadow: var(--shadow);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.header-container_app_ver
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
}

.logo_app_ver
{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary);
}

.logo_app_ver span 
{
    color: var(--secondary);
}

.nav_app_ver ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_app_ver ul li 
{
    margin-left: 25px;
}

.nav_app_ver ul li a 
{
    font-weight: 500;
    transition: color 0.2s;
}

.nav_app_ver ul li a:hover 
{
    color: var(--secondary);
}
.bt_header_app_ver
{
    cursor: pointer;
    transition: background-color 0.3s;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    min-width: auto;
    margin-left: 15px;
    color: var(--secondary);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 50px;

}
button:hover 
{
    background-color: #f3ccb4;
}

.hr_ver_app
{
    margin-top: 9%;
}

/*RESPONSIVE*/

/* Tablets grandes y pantallas pequeñas (hasta 1024px) */
@media (max-width: 1024px) 
{

}